{{#extends 'base'}}
{{#block 'content'}}
<h1>Shopping Cart</h1>

<ul class="list-group">
    {{#each shoppingCart}}
    <li class="list-group-item my-3">
        <h4> {{this.product.name}}</h4>
        <h5>Categroy: {{this.product.country.name}}</h5>
        <h5>Cost: {{this.product.cost}}</h5>
        <h5>Quantity: {{this.quantity}}</h5>
    </li>
    <div>
        <a href="/cart/{{this.product.id}}/remove" class="btn btn-danger">Remove</a>
    </div>
    {{/each}}
</ul>







{{/block}}
{{/extends}}